    /*
        CSS relacionado a pagina curriculo.html
    */
.folha {
  width: 695px;
  height: 1300px;
  margin:auto;
  position: relative;

  
}
#photo {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 150px;
  border: 0px solid black;
  box-shadow: 2px 3px 10px black;
  margin-top: 20px;
  margin-left: 20px;
}

.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  background-color: black;
  border-radius: 10px;
  border:1px solid black ;

}

.menu li {
  display: inline;
  margin-left: 4.8rem;
}

.menu li a {
  text-decoration: none;
  color:white;
  font-size: 18px;
}

.menu li a:hover{
  color: gray;
}

.sobre{
    position:absolute;
    margin-top:20px;
    margin-left:50px;
    width:505px;
}

.tamanho {
  width: 30px;
  right: 30px;
  padding: 15px;
}

/*
    CSS relacionado a pagina contact.html
*/
/*
.folha01 {
    width: 695px;
    height: 520px;
    margin:auto;
    position: relative;
    background-color:linen;
    
}


.menu01 li {
    display: inline;
    padding: 3rem;
    
}

.menu01 li a {
  text-decoration: none;
}
*/

.form-contain {
    text-align: center;
}

